/* Write your styles here  */

body {
 margin: 0%;
 padding: 0%;
}

#header{
 
  width: 38%;
text-align: center;
  margin: auto;
}

#doctors{
 
  display: grid;
  width: 80%;
  margin: auto;
  grid-template-columns: repeat(4,1fr);
  gap: 22px;
}

#doctors>div{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
}


#doctors>div>img{
  background-color: aqua;
  width: 90%;
  padding: 10px;
}

#doctors>div>div{
  display: flex;
  justify-content: space-between;
  padding: 8px;
  margin: 10px;
}

#bu1{
  border: 1px solid blue;
  border-radius: 10px;
  color: blue;
  padding: 10px;
}

#bu2{
 background-color: orange;
  border-radius: 10px;
  color: black;
  padding: 10px;
}

#service{
 
  display: grid;
  width: 80%;
  margin: auto;
  grid-template-columns: repeat(3,1fr);
  gap: 22px;
  margin-top: 40px;
}

#service>div{
  text-align: center;
  justify-content: center;
}
/* keep media queries at the bottom */
/* Medium screens */
@media all and (min-width: 451px) and (max-width: 769px) {
  #header{
      width: 80%;
  }

  #doctors{
    grid-template-columns: repeat(2,1fr);
    
    width: 80%;
  }

  #service{
    grid-template-columns: repeat(2,1fr);
    
    width: 80%;
  }
}
/* Small screens */
@media all and (min-width: 100px) and (max-width: 450px) {
  #header{
    width: 100%;
  }

  #doctors{
    grid-template-columns: repeat(1,1fr);
    
    width: 90%;
  }

  #doctors>div>div{
    display: grid;
    justify-content: center;
    
  }

   #doctors>div>div>button{
   padding-left:100px ;
   padding-right: 100px;
   margin-bottom: 20px;
  }

  #service{
    grid-template-columns: repeat(1,1fr);
    
    width: 90%;
  }

}
